@model cis237assignment6.Models.Beverage

@{
    ViewBag.Title = "Edit";
}

<h2 style="font-family:initial;color:wheat;font-size:24px">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="font-family:initial;color:wheat;font-size:24px">Beverage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group"style="font-family:initial;color:wheat;">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="font-family:initial;color:wheat;">
            @Html.LabelFor(model => model.pack, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pack, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pack, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="font-family:initial;color:wheat;">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group"style="font-family:initial;color:wheat;">
            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.active)
                    @Html.ValidationMessageFor(model => model.active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group"style="font-family:initial;color:wheat;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="font-family:initial;color:wheat;">
    @Html.ActionLink("Back to List", "Index")
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
