@model IEnumerable<cis237assignment6.Models.Beverage>

@{
    ViewBag.Title = "Index";
}

<h2 style="font-family:initial; color: wheat">Beverages</h2>


<p style="font-family: initial">
    <a href="/Beverages/Create" style="color: wheat">Create New</a>
</p>





@*My Way
@using (Html.BeginForm())
{
 <p>
     Find by name: @Html.TextBox("SearchStringName")
      <input type="submit" value="Search" />
</p>
<p>
    Find by pack: @Html.TextBox("SearchStringPack")
    <input type="submit" value="Search" />
</p>
<p>
    Find by price: @Html.TextBox("SearchStringPrice")
    <input type="submit" value="Search" />
</p>
}
*@

@*Trying the way we did in class*@
<div class="form-group" style="font-family:initial;color:white">
    <fieldset>
        <legend style="font-family: initial; color:wheat">Search Filter</legend>
        @*Start the C# part to do the rendering of the html*@
        @{
            using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <label for="name">Name</label>
                @Html.TextBox("name", (string)ViewBag.filterName)
                <label for="pack">Pack</label>
                @Html.TextBox("pack", (string)ViewBag.filterPack)
                <label for="price">Price</label>
                @Html.TextBox("price", (string)ViewBag.filterPice)
                if (ViewBag.errorMessage != null)
                {
                    <p style="font-family:initial; color: red">Invalid Price, Please Reenter</p>
                }
                <br />
                <input type = "submit" value = "Filter" class="btn btn-info pull-right" style="font-family: initial;color:white"/>
            }
        }
    </fieldset>
</div>
<br />
<br />


<!--Make a new table that hold sorting options above the given list-->
<table class="table">
    <tr>
       <!--HyperLink for sorting by name-->
        <th style="font-family:initial; color:wheat">
            @Html.ActionLink("SortName", "Index", new { sortOrder = ViewBag.SortByNameP })
        </th>
        <!--HyperLink for sorting by pack-->
        <th style="font-family:initial; color:wheat">
            @Html.ActionLink("SortPack", "Index", new { sortOrder = ViewBag.SortByPackP })
        </th>
        <!--HyperLink for sorting by price-->
        <th style="font-family:initial; color:wheat">
    @Html.ActionLink("SortPrice", "Index", new { sortOrder = ViewBag.SortByPriceP })
</th>
        <!--HyperLink for sorting by name-->
        <th style="font-family:initial; color:wheat">
            @Html.ActionLink("SortActive", "Index", new { sortOrder = ViewBag.SortByActiveP })
        </th>
        <!--HyperLink for not sorting-->
        <th style="font-family:initial; color:wheat">
            @Html.ActionLink("Original", "Index", new { sortOrder = ViewBag.NoSortP })
        </th>
    </tr>
</table>


<table class="table">
    <tr>
        <th style="font-family:initial; color:white">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th style="font-family:initial; color:white">
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th style="font-family:initial; color:white">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th style="font-family:initial; color:white">
            @Html.DisplayNameFor(model => model.active)
        </th>
    </tr>
    </table>
<table class="table table-hover">
@foreach (var item in Model) {
    <!---->
      <tr class="clickable-row" data-href="Edit/@item.id">
        <td style="font-family:initial;color:wheat">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td style="font-family:initial;color:wheat">
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td style="font-family:initial;color:wheat">
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td style="font-family:initial;color:wheat">
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td style="font-family:initial;color:wheat">
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
@section scripts{
<script>

    $(document).ready(function() {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
    
</script>
    }