@model IEnumerable<cis237assignment6.Models.Beverage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--Make a new table that hold sorting options above the given list-->
        <!--ASK MR.BARNES ABOUT ADDING SPACES BETWEEN SAID TABLE HEADERS BUT OTHER THAN THAT SORT FOR EACH FIELD IS WORKING-->
<table>
    <tr>
       <!--HyperLink for sorting by name-->
        <th>
            @Html.ActionLink("SortName", "Index", new { sortOrder = ViewBag.SortByNameP });
        </th>
        <!--HyperLink for sorting by pack-->
        <th>
            @Html.ActionLink("SortPack", "Index", new { sortOrder = ViewBag.SortByPackP });
        </th>
        <!--HyperLink for sorting by price-->
        <th>
            @Html.ActionLink("SortPrice", "Index", new { sortOrder = ViewBag.SortByPriceP });
        </th>
        <!--HyperLink for sorting by name-->
        <th>
            @Html.ActionLink("SortActive", "Index", new { sortOrder = ViewBag.SortByActiveP });
        </th>
        <!--HyperLink for not sorting-->
        <th>
            @Html.ActionLink("Original", "Index", new { sortOrder = ViewBag.NoSortP });
        </th>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
